@page "/"

<PageTitle>Index</PageTitle>

<h1>Productos</h1>

<div class="card" style="width: 18rem;">
  <img src="img/Photo1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Alexa</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <button href="#" class="btn btn-primary">Go somewhere</button>
        <button class="btn btn-primary">Like</button>
        <button class="btn btn-primary">DisLike</button>
  </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="img/Photo2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Pants</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button href="#" class="btn btn-primary">Go somewhere</button>
        <button class="btn btn-primary">Like</button>
        <button class="btn btn-primary">DisLike</button>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="img/Photo3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Amazon Controller</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button href="#" class="btn btn-primary">Go somewhere</button>
        <button class="btn btn-primary">Like</button>
        <button class="btn btn-primary">DisLike</button>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="img/Photo4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Pilas Duracell</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <button href="#" class="btn btn-primary">Go somewhere</button>
        <button class="btn btn-primary">Like</button>
        <button class="btn btn-primary">DisLike</button>
    </div>
</div>
